<h2 mat-dialog-title>Nova nota fiscal</h2>
<mat-dialog-content class="input-fields">
    <div class="number-series-fields">
        <mat-form-field>
            <mat-label>Número Nota</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Série Nota</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <mat-form-field class="autocomplete-products">
        <mat-label>Produtos</mat-label>
        <input matInput
            aria-label="Produtos"
            [matAutocomplete]="auto"
            [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
            @for (product of products; track product) {
            <mat-option [value]="product.code">
                <span>{{product.code}}</span> |
                <small>Descrição: {{product.description}}</small>
            </mat-option>
        }
        </mat-autocomplete>
    </mat-form-field>
  <div class="action-buttons">
      <button (click)="onCancelClick()" class="btn-cancel" mat-stroked-button>Cancelar</button>
      <button class="btn-create" mat-flat-button>Criar</button>
  </div>
</mat-dialog-content>
