<mat-table [dataSource]="invoices" class="mat-elevation-z1 invoice-table">

    <ng-container matColumnDef="numberSerie">
        <mat-header-cell *matHeaderCellDef> Número / Série </mat-header-cell>
        <mat-cell *matCellDef="let invoice">
          {{ invoice.number }} / {{ invoice.series }}
        </mat-cell>
    </ng-container>
    
      <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let invoice"> Empresa Ficticia </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="totalValue">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let invoice">
          {{ invoice.totalAmount | currency:'BRL'}}
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="issuedDate">
        <mat-header-cell *matHeaderCellDef> Data de Emissão </mat-header-cell>
        <mat-cell *matCellDef="let invoice">
          {{ invoice.issuedDate | date:'dd/MM/yyyy' }}
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="invoiceId">
        <mat-header-cell *matHeaderCellDef> Chave NFe </mat-header-cell>
        <mat-cell *matCellDef="let invoice"> {{ invoice.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="printInvoice">
        <mat-header-cell *matHeaderCellDef><mat-icon>print</mat-icon></mat-header-cell>
        <mat-cell *matCellDef="let invoice">
          <button
          (click)="printInvoice(invoice)"
            mat-mini-fab aria-label="Imprimir nota fiscal">
            <mat-icon>print</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  