<mat-table [dataSource]="invoices" class="mat-elevation-z1 invoice-table">

    <ng-container matColumnDef="numberSerie">
        <mat-header-cell *matHeaderCellDef> Número / Série </mat-header-cell>
        <mat-cell *matCellDef="let invoice">
          {{ invoice.number }} / {{ invoice.series }}
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let invoice"> Empresa Ficticia </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="totalValue">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let invoice">
          {{ invoice.totalAmount | currency:'BRL'}}
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="issuedDate">
        <mat-header-cell *matHeaderCellDef> Data de Emissão </mat-header-cell>
        <mat-cell *matCellDef="let invoice">
          {{ invoice.issuedDate | date:'dd/MM/yyyy' }}
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="invoiceId">
        <mat-header-cell *matHeaderCellDef> Chave NFe </mat-header-cell>
        <mat-cell *matCellDef="let invoice"> {{ invoice.id }} </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="toggleExpand(row.number, row.series)"></mat-row>

  
  </mat-table>
  


<!-- <table mat-table [dataSource]="invoices" class="mat-elevation-z8">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Número / Série </th>
        <td mat-cell *matCellDef="let invoice">{{invoice.number}} / {{invoice.series}} </td>
    </ng-container>
    <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef> Número / Série </th>
        <td mat-cell *matCellDef="let invoice">"Empresa Ficticia"</td>
    </ng-container>
</table> -->

<!-- <table class="invoice-table">
    <thead>
        <tr>
            <th>Número / Série</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Data de Emissão</th>
            <th>Chave NFe</th>
        </tr>
    </thead>
    <tbody>
    @for(invoice of invoices; track invoice){
        <tr (click)="toggleExpand(invoice.number, invoice.series)">
            <td>{{invoice.number}} / {{invoice.series}}</td>
            <td>"Empresa Ficticia"</td>
            <td>{{ invoice.totalAmount.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</td>
            <td>{{ invoice.issuedDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ invoice.id}}</td>
        </tr>
    }
    </tbody>
</table> -->