@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@900&display=swap";

html, body {
    height: 100%;
}

:root {
    --primary-color:#9abef8; 
    --primary-light:#dbeafe; 
    --primary-dark:#1e40af;
    --background:#f8fafc;
    --text-color:#1e293b;
}

.multi-line-snackbar {
    white-space: pre-line;
}

* {
    margin: 0;
    padding: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
