<app-header class="header"></app-header>
<main>
    <div class="invoice-view">
        <section class="section-buttons">
            <div class="action-buttons">
                <button (click)="openNewProduct()" mat-fab extended>
                    <mat-icon>add</mat-icon>
                    Novo Produto
                  </button>
                <button (click)="openNewInvoice()" mat-fab extended>
                  <mat-icon>add</mat-icon>
                  Nova Nota
                </button>
            </div>
        </section>
        <section class="invoice-tables">
            <app-invoice-tables></app-invoice-tables>
        </section>
    </div>    
</main>